body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#root {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #d21818;
}

ul {
    list-style-type: none;
    padding: 0;
    color: rgb(42, 90, 150);
}

li {
    margin-bottom: 10px;
    color: blueviolet;
}

.occupation {
    font-weight: bold;
    color: #155931;
}